@import url('index.css');

.product-detail {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}
.product-image img {
    width: 300px;
    object-fit: cover;
}
.product-info {
    max-width: 400px;
}
.product-info h2 {
    margin-bottom: 1rem;
}
.product-info p {
    margin-bottom: 0.5rem;
}
.product-info .price {
    font-size: 1.5rem;
    color: #ff6600;
    margin-bottom: 1rem;
}
.product-info .description {
    margin-bottom: 1.5rem;
}
.product-info .add-to-cart {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.add-to-cart .btn {
    color: #fff;
    background: #e65c00;
}


.product-info .add-to-cart:hover {
    background: #e65c00;
}